use Mix.Config

config :file_config,
  data_dirs: ["/var/foo/data"],
  state_dir: "/var/foo/state",
  check_delay: 10_000,
  files: [
    foo_file: %{
      # file: name of file or regex
      file: "foo.csv",
      # name: name of table, defaults to key
      # format: :csv, # csv | bert | dat, default to match extension
      # handler: name of module to handle update, default to match format
      # transform_fun: {:bert_utils, :bertconf_parse_binaries, []},
    },
    foo_config: %{
      file: "foo_config.bert",
    },
    foo_db: %{
      file: "foo_db.csv",
      csv_fields: {2, 3},
      handler: FileConfig.Handler.CsvDb
    },
  ]

config :lager,
  error_logger_hwm: 500,
  crash_log: 'log/crash.log',
  crash_log_size: 10_485_760,
  crash_log_count: 5,
  handlers: [
    lager_console_backend: :notice,
    # lager_console_backend: :debug,
    lager_file_backend: [
      file: 'log/notice.log', level: :notice, size: 10_485_760, count: 10, formatter: :lager_default_formatter,
      formatter_config: [:date, ' ', :time, ' ', :color, '[', :severity, '] ', {:uuid, ''}, ' ', {:pid, ''},
      {:module, [{:pid, ['@'], ''}, :module, {:function, [':', :function], ''}, {:line, [':',:line], ''}], ''}, ' ', :message, '\n'],
    ],
    lager_file_backend: [
      file: 'log/error.log', level: :error, size: 10_485_760, count: 10, formatter: :lager_default_formatter,
      formatter_config: [:date, ' ', :time, ' ', :color, '[', :severity, '] ', {:uuid, ''}, ' ', {:pid, ''},
      {:module, [{:pid, ['@'], ''}, :module, {:function, [':', :function], ''}, {:line, [':',:line], ''}], ''}, ' ', :message, '\n'],
    ],
    lager_file_backend: [
      file: 'log/info.log', level: :info, size: 10_485_760, count: 10, formatter: :lager_default_formatter,
      formatter_config: [:date, ' ', :time, ' ', :color, '[', :severity, '] ', {:uuid, ''}, ' ', {:pid, ''},
      {:module, [{:pid, ['@'], ''}, :module, {:function, [':', :function], ''}, {:line, [':',:line], ''}], ''}, ' ', :message, '\n'],
    ],
    lager_file_backend: [
      file: 'log/debug.log', level: :debug, size: 10_485_760, count: 10, formatter: :lager_default_formatter,
      formatter_config: [:date, ' ', :time, ' ', :color, '[', :severity, '] ', {:uuid, ''}, ' ', {:pid, ''},
      {:module, [{:pid, ['@'], ''}, :module, {:function, [':', :function], ''}, {:line, [':',:line], ''}], ''}, ' ', :message, '\n']
    ]
  ],
  colored: :true

